@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<button class="btn btn-light">@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</button>
<button class="btn btn-light">@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</button>
<button class="btn btn-light">@Html.ActionLink("Back to list", "Index")</button>