@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/edit.css">

@model BestRestaurants.Models.Restaurant

<h2>Edit</h2>

<h4>Edit this restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)
  @Html.EditorFor(model => model.Name)
  @Html.DropDownList("CuisineId")

  <button type="submit" class="btn btn-success">Save</button>
}
<br>
<button class="btn btn-outline-info show">@Html.ActionLink("Back to cuisine", "Index")</button>